{
  "acs_config": {
    "internal_networking": {
      "internal_interfaces": [
        {
          "interface": "int-a",
          "netmask": "${cidrnetmask(internal_prefix)}",
          "ip_address_ranges": [
            {
              "high": "${cidrhost(internal_prefix, max_num_nodes + addr_range_offset -1)}",
              "low": "${cidrhost(internal_prefix, addr_range_offset)}"
            }
          ]
        }
      ]
    },
    "external_networking" : {
      "external_interfaces": [
        {
          "interface": "ext-1",
          "netmask": "${cidrnetmask(external_prefix)}",
          "gateway": "${external_gateway_address}",
          "ip_address_ranges": [
            {
              "high": "${cidrhost(external_prefix, max_num_nodes + addr_range_offset -1)}",
              "low": "${cidrhost(external_prefix, addr_range_offset)}"
            }
          ]
        }
      ],
      "dns_servers": [${join(", ", [for s in dns_servers : "\"${s}\""])}],
      "dns_domains": [${join(", ", [for d in dns_domains : "\"${d}\""])}]
%{ if smartconnect_zone != "" }
      ,
      "smartconnect": {
        "service_addr": "${cidrhost(external_prefix, addr_range_offset - 1)}",
        "zone": "${smartconnect_zone}"
      }
%{ endif }
    },
    "cluster": {
      "name": "${cluster_name}",
      "nodes": [${join(", ", [for serial_no in serial_numbers : jsonencode({serial_number = serial_no})])}],
      "credentials_hashed": true,
      "password": "${hashed_root_password}",
      "admin_user_password": "${hashed_admin_password}",
      "l3_cache": {
        "ssd_l3_cache_default_enabled": false
      },
      "join_mode": "${join_mode}",
      "cluster_name_nt4_compatibility": false
    },
    "post_cluster": {
      "post_install_commands": {
        "cmd": "${post_install_commands}"
      }
    }
  }
}
